<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	Reporte Mensual
  </h1>
  <ol class="breadcrumb">
	<li><a href="/#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Reporte Mensual</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Filtrar registros por mes</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                   <form name="reportForm" novalidate ng-submit="getIndividualReport()">

                       <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class='form-group' ng-class="{'has-error': reportForm.rut.$invalid && reportForm.rut.$dirty}">
                                <input
                                    type="text"
                                    name="rut"
                                    placeholder="Ingrese rut"
                                    class="form-control focus"
                                    ng-model="person.rut"
                                    required/>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class='input-group date' id='datepicker' ng-class="{'has-error': reportForm.month.$invalid && reportForm.month.$dirty}">
                                <input
                                type="text"
                                placeholder="Seleccione mes"
                                class="form-control focus"
                                name="date"
                                ng-model="person.month"
                                required />
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>

                        <span class="has-error control-label" ng-show="
                            reportForm.month.$invalid && reportForm.month.$dirty">
                          Mes es requerido.
                        </span>

                        <span class="has-error control-label" ng-show="
                            reportForm.rut.$invalid && reportForm.rut.$dirty">
                          Rut es requerido.
                        </span>

                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <button class="btn btn-primary" ng-disabled="reportForm.$invalid" ng-click="showDiv=true;">Buscar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detalle de ingresos</h3>
              <div class="box-tools pull-right">
                <button
                  type="button"
                  class="btn btn-box-tool"
                  ng-click="exportEmployeesData()"
                  data-toggle="tooltip"
                  title=""
                  data-widget="chat-pane-toggle"
                  data-original-title="Exportar a Excel">
                    <i class="fa fa-file-excel-o"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
          <div class="box-body">
            <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                    <th>#</th>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Empresa</th>
                    <th>Departamento</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                  </tr>
              </thead>
              <tbody>
                <tr dir-paginate="record in records | filter: searchKeyword | itemsPerPage:25">
                  <td>{{ $index + 1 }}</td>
                  <td class="text-green">
                    <strong>{{record.run}}<sup ng-if="record.blacklist" class="text-red">*</sup></strong>
                  </td>
                  <td>{{record.fullname}}</td>
                  <td>{{record.company}}</td>
                  <td ng-if="record.place == 'null' && record.destination == 'null'"></td>
                  <td ng-if="record.place != 'null' && record.profile == 'E'">{{record.place}}</td>
                  <td ng-if="record.destination != 'null' && (record.profile == 'V' || record.profile == 'C')">{{record.destination}}</td>
                  <td>{{record.input_datetime | date:'dd/MM HH:mm:ss'}}</td>
                  <td>{{record.output_datetime | date:'dd/MM HH:mm:ss'}}</td>
                </tr>
              </tbody>
            </table>
            <dir-pagination-controls
               max-size="25"
               direction-links="true"
               boundary-links="true" >
            </dir-pagination-controls>
            <p class="text text-warning" ng-if="showDiv && (records.length == 0)">Rut sin registros {{records.length}}</p>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
</section><!-- /.content -->

<script type="text/javascript">
  $(function() {
    $('#datepicker').datepicker({
      format: "mm-yyyy",
      viewMode: "months",
      minViewMode: "months"
    });
  });
</script>
