<script src="../../../js/controllers/login.js"></script>
<li class="header">MENU NAVEGACIÓN</li>
<li><a href="/#/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
<li><a href="/#/logbook/inside"><i class="fa fa-th-list"></i> <span>En Planta</span></a></li>
<li class="treeview">
  <a href="">
    <i class="fa fa-table"></i>
    <span>Bitácora</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="/#/logbook/employees"><i class="fa fa-circle-o text-green"></i> Empleados</a></li>
    <li><a href="/#/logbook/contractors"><i class="fa fa-circle-o text-yellow"></i> Contratistas</a></li>
    <li><a href="/#/logbook/visits"><i class="fa fa-circle-o text-red"></i> Visitas</a></li>
  </ul>
</li>
<li class="treeview">
  <a href="">
    <i class="fa fa-edit"></i>
    <span>Registro Manual</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
      <li><a href="/#/logbook/employees/new"><i class="fa fa-user"></i> Empleados</a></li>
      <li><a href="/#/logbook/contractors/new"><i class="fa fa-user"></i> Contratistas</a></li>
      <li><a href="/#/logbook/visits/new"><i class="fa fa-user"></i> Visita</a></li>
  </ul>
</li>
<li class="header">ADMINISTRACIÓN</li>
<li><a href="/#/admin/maintainers"><i class="fa fa-book"></i> <span>Mantenedores</span></a></li>
<!--<li><a href="/#/profilesManagement"><i class="fa fa-unlock-alt"></i> <span>Autorización</span></a></li>-->
<li><a href="/#/people/visits/maintainers"><i class="fa fa-users"></i> <span>Visitas</span></a></li>
<li><a href="/#/logbook/manuals"><i class="fa fa-check-square-o"></i> <span>Revisión Manual</span></a></li>
<li><a href="/#/admin/blacklist"><i class="fa fa-eye"></i> <span>Lista sensible</span></a></li>
<li><a href="/#/admin/reports"><i class="fa fa-bar-chart"></i> <span>Reporte Mensual</span></a></li>
<li><a href="/#/admin/reports/individual"><i class="fa fa-line-chart"></i> <span>Reporte Individual</span></a></li>

<li class="header">ETIQUETAS</li>
<li><a href="/#/logbook/dennieds"><i class="fa fa-circle-o text-red"></i> <span>Rechazados</span></a></li>
