<li class="header">MENU NAVEGACIÓN</li>
<li><a href="/#/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
<li class="treeview">
  <a href="/#/dashboard#">
    <i class="fa fa-th"></i>
    <span>Registros</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="/#/inputs"><i class="fa fa-circle-o text-aqua"></i> En planta</a></li>
    <li><a href="/#/employees"><i class="fa fa-circle-o text-green"></i> Empleados</a></li>
    <li><a href="/#/"><i class="fa fa-circle-o text-yellow"></i> Contratistas</a></li>
    <li><a href="/#/"><i class="fa fa-circle-o text-red"></i> Proveedores</a></li>
    <li><a href="/#/visits"><i class="fa fa-circle-o text-red"></i> Visitas</a></li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-share"></i> <span>Registro Individual</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="/#/employee_individual"><i class="fa fa-user"></i> Empleado</a></li>
        <li><a href="/#/visit_individual"><i class="fa fa-user"></i> Visita</a></li>
      </ul>
    </li>
    <!-- <li><a href="/#/todayall"><i class="fa fa-circle-o text-aqua"></i> Todos</a></li> -->
  </ul>
</li>
<li><a href="/#/reports"><i class="fa fa-pie-chart"></i> <span>Reportes</span></a></li>
<li><a href="/#/maintainers"><i class="fa fa-book"></i> <span>Mantenedores</span></a></li>
<li class="header">ETIQUETAS</li>
<li><a href="/#/pendings"><i class="fa fa-circle-o text-yellow"></i> <span>Pendientes</span></a></li>
<li><a href="/#/rejected"><i class="fa fa-circle-o text-red"></i> <span>Rechazados</span></a></li>
<li><button type="button" class="btn btn-danger btn-block btn-flat" ng-click="logout()">Logout</button></li>
