
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	Dashboard
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box bg-aqua">
        <a href="/#/logbook/inside" class="small-box-footer bg-green"><span class="info-box-icon"><i class="ion ion-pie-graph"></i></span></a>
        <div class="info-box-content">
          <span class="info-box-text">En Planta</span>
          <span class="info-box-number">{{ num_employees + num_contractors + num_visits + num_suppliers }}</span>
          <div class="progress">
            <div class="progress-bar" style="width: 100%"></div>
          </div>
          <span class="progress-description">
            Total
          </span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
  	</div><!-- ./col -->

  	<div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box bg-green">
        <a href="/#/logbook/employees/inside" class="small-box-footer bg-green"><span class="info-box-icon"><i class="ion ion-ios-people"></i></span></a>
        <div class="info-box-content">
          <span class="info-box-text">Empleados</span>
          <span class="info-box-number">{{ num_employees}}</span>
          <!-- The progress section is optional -->
          <div class="progress">
            <div class="progress-bar" style="width: {{ (num_employees * 100) / (num_employees + num_contractors + num_visits + num_suppliers) | singleDecimal }}%"></div>
          </div>
          <span ng-if="num_employees > 0" class="progress-description">
            {{ (num_employees * 100) / (num_employees + num_contractors + num_visits + num_suppliers) | singleDecimal }}%
          </span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
  	</div><!-- ./col -->

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box bg-yellow">
        <a href="/#/logbook/contractors/inside" class="small-box-footer bg-green"><span class="info-box-icon"><i class="ion ion-ios-people"></i></span></a>
        <div class="info-box-content">
          <span class="info-box-text">Contratistas</span>
          <span class="info-box-number">{{ num_contractors}}</span>
          <div class="progress">
            <div class="progress-bar" style="width: {{ (num_contractors * 100) / (num_employees + num_contractors + num_visits + num_suppliers) | singleDecimal }}%"></div>
          </div>
          <span ng-if="num_contractors > 0" class="progress-description">
            {{ (num_contractors * 100) / (num_employees + num_contractors + num_visits) | singleDecimal }}%
          </span>
        </div>
      </div>
  	</div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box bg-yellow">
        <a href="/#/logbook/suppliers/inside" class="small-box-footer bg-green"><span class="info-box-icon"><i class="ion ion-ios-people"></i></span></a>
        <div class="info-box-content">
          <span class="info-box-text">Proveedores</span>
          <span class="info-box-number">{{ num_suppliers}}</span>
          <!-- The progress section is optional -->
          <div class="progress">
            <div class="progress-bar" style="width: {{ (num_suppliers * 100) / (num_employees + num_contractors + num_visits + num_suppliers) | singleDecimal }}%"></div>
          </div>
          <span ng-if="num_suppliers > 0" class="progress-description">
            {{ (num_suppliers * 100) / (num_employees + num_contractors + num_visits + num_suppliers) | singleDecimal }}%
          </span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
  	</div><!-- ./col -->

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box bg-red">
        <a href="/#/logbook/visits/inside" class="small-box-footer bg-green"><span class="info-box-icon"><i class="ion ion-ios-people"></i></span></a>
        <div class="info-box-content">
          <span class="info-box-text">Visitas</span>
          <span class="info-box-number">{{ num_visits}}</span>
          <!-- The progress section is optional -->
          <div class="progress">
            <div class="progress-bar" style="width: {{ (num_visits * 100) / (num_employees + num_contractors + num_visits + num_suppliers) | singleDecimal }}%"></div>
          </div>
          <span ng-if="num_visits > 0" class="progress-description">
            {{ (num_visits * 100) / (num_employees + num_contractors + num_visits + num_suppliers) | singleDecimal }}%
          </span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
  	</div><!-- ./col -->

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box bg-gray">
        <a href="/#/logbook/PatentsFiled" class="small-box-footer bg-green"><span class="info-box-icon"><i class="ion ion-model-s"></i></span></a>
        <div class="info-box-content">
          <span class="info-box-text">Vehículos</span>
          <span class="info-box-number">{{ num_patentsInside.count }}</span>
          <!-- The progress section is optional -->
          <div class="progress">
            <div class="progress-bar" style="width: 100%"></div>
          </div>
          <span class="progress-description">
            En Planta
          </span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
  	</div><!-- ./col -->

  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- Custom Tabs -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_1" data-toggle="tab" ng-click="getRecordsByRut('8')">SALMONES</a></li>
          <li><a href="#tab_2" data-toggle="tab" ng-click="getRecordsByRut('2')">ALIMENTOS</a></li>
          <li><a href="#tab_3" data-toggle="tab" ng-click="getRecordsByRut('3');">PACIFIC</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <table class="table table-condensed">
              <thead>
                <td>Departamento</td>
                <td>Empleados</td>
              </thead>
              <tbody class="text-muted">
                <tr ng-repeat="people in arregloPeople">
                  <td>{{people.Place}}</td>
                  <td>
                    <span ng-if="people.Count > 0" class="badge bg-light-blue">{{people.Count}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
      </div><!-- nav-tabs-custom -->
    </div><!-- /.col -->
    <div class="col-lg-6 col-xs-12">
      <img class="center-block axxezo" src="../../dist/img/axxezo_logo.png" alt="Axxezo">
    </div>
  </div><!-- /.row (main row) -->
</section><!-- /.content -->
