<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	Mantenedores
  </h1>
  <ol class="breadcrumb">
	<li><a href="/#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Mantenedores</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-4">
            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Estacionamientos</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <form name="parkingForm" novalidate ng-submit="addParking()">
                      <div class="form-group">
                        <input type="text" class="form-control focus" name="name"
                            placeholder="Nombre" autocomplete="off" required
                            ng-model="newParking.name">
                      </div>
                      <button class="btn btn-info">Agregar</button>
                    </form>
                    <hr>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng:repeat="parking in parkings">
                                <td>{{$index + 1}}</td>
                                <td><input type="text" ng-model="parking.name" ng-change="update(parking)" class="form-control"></td>
                                <td><a class="glyphicon glyphicon-remove pull-right"  ng-click="deleteParking(parking)"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-xs-4">
            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Destinos</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <form name="destinationForm" novalidate ng-submit="addDestination()">
                      <div class="form-group">
                        <input type="text" class="form-control focus" name="name"
                            placeholder="Nombre" autocomplete="off" required
                            ng-model="newDestination.name">
                      </div>
                      <button class="btn btn-info">Agregar</button>
                    </form>
                    <hr>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng:repeat="destination in destinations">
                                <td>{{$index + 1}}</td>
                                <td><input type="text" ng-model="destination.name" class="form-control"></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-xs-4">
            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Tipo de vehiculos</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <form name="vehicleTypeForm" novalidate ng-submit="addVehicleType()">
                      <div class="form-group">
                        <input type="text" class="form-control focus" name="name"
                            placeholder="Nombre" autocomplete="off" required
                            ng-model="newVehicleType.name">
                      </div>
                      <button class="btn btn-info">Agregar</button>
                    </form>
                    <hr>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng:repeat="type in vehicleTypes">
                                <td>{{$index + 1}}</td>
                                <td><input type="text" ng-model="type.name" ng-change="update(type)" class="form-control"></td>
                                <td><a class="glyphicon glyphicon-remove pull-right"  ng-click="deleteVehicleType(type)"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-xs-4">
            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Perfiles</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <form name="profilesForm" novalidate ng-submit="addProfile()">
                      <div class="form-group">
                        <input type="text" class="form-control focus" name="name"
                            placeholder="Nombre" autocomplete="off" required
                            ng-model="newProfile.name">
                      </div>
                      <button class="btn btn-info">Agregar</button>
                    </form>
                    <hr>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng:repeat="profile in profiles">
                                <td>{{$index + 1}}</td>
                                <td><input type="text" ng-model="profile.name" ng-change="update(profile)" class="form-control"></td>
                                <td><a class="glyphicon glyphicon-remove pull-right"  ng-click="deleteProfile(profile)"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->

 
    </div><!-- /.row -->
</section><!-- /.content -->
