<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	Pendientes
  </h1>
  <ol class="breadcrumb">
	<li><a href="/#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Pendientes</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row" ng-controller="RecordController">
        <div class="col-xs-10">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Todos los perfiles</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Entrada</th>
                        <th>Perfil</th>
                        <th>Opción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="record in pendings | filter: searchKeyword | itemsPerPage:15">
                        <form name="recordForm" novalidate>
                            <td>
                                <input type="text" class="form-control focus" ng-model="newRecord.people_run"
                                placeholder="{{record.people_run}}">
                            </td>
                            <td>
                                <input type="text" class="form-control focus" ng-model="newRecord.fullname" placeholder="{{record.fullname}}">
                            </td>
                            <td>
                                <input type="text" class="form-control focus" placeholder="{{record.input_datetime | date:'dd MMM yyyy HH:mm:ss'}}">
                            </td>
                            <td>
                                <span ng-if="record.profile == 'V'" class="label label-warning label-mini">Visita</span>
                                <span ng-if="record.profile == 'E'" class="label label-success label-mini">Empleado</span>
                                <span ng-if="record.profile == 'C'" class="label label-warning label-mini">Contratista</span>
                                <span ng-if="record.profile == 'N'" class="label label-warning label-mini">Eventual</span>
                                <span ng-if="record.profile == 'T'" class="label label-warning label-mini">Tripulante</span>
                            </td>
                            <td>
                              <input type="submit" class="btn btn-primary" ng-click="addRecord(newRecord)" value="Registrar Salida" />
                            </td>
                        </form>
                    </tr>
                </tbody>
              </table>
              <dir-pagination-controls
                 max-size="15"
                 direction-links="true"
                 boundary-links="true" >
              </dir-pagination-controls>
            </div>
          </div>
      </div>
  </div>
</section>
