<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	Pendientes
  </h1>
  <ol class="breadcrumb">
	<li><a href="/#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Pendientes</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row" ng-controller="RecordController">
        <div class="col-xs-10">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Todos los perfiles {{num_all.count}})</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                          <th>Rut</th>
                          <th>Nombre</th>
                          <th>Entrada</th>
                          <th>Perfil</th>
                          <th>Opción</th>
                      </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="record in pendings | filter: searchKeyword | itemsPerPage:10">
                          <td>{{record.people_run}}</td>
                          <td>{{record.fullname}}</td>
                          <td>{{record.input_datetime | date:'dd MMM yyyy HH:mm:ss'}}</td>
                          <td>
        					<span ng-if="record.profile == 'V'" class="label label-warning label-mini">Visita</span>
        					<span ng-if="record.profile == 'E'" class="label label-success label-mini">Empleado</span>
        				  </td>
                          <td>
                              <button type="button" class="fa fa-exchange"></button>
                          </td>
                      </tr>
                </tbody>
              </table>
              <dir-pagination-controls
                 max-size="10"
                 direction-links="true"
                 boundary-links="true" >
              </dir-pagination-controls>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
      </div>
  </div><!-- /.row -->
</section><!-- /.content -->
