<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	Dashboard
  </h1>
</section>

<!-- Main content -->
<section class="content" ng-controller="DashboardController">
  <!-- Small boxes (Stat box) -->
  <div class="row">
	<div class="col-lg-2 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-aqua">
		<div class="inner">
		  <h3>{{ num_all.count }}</h3>
		  <p>En Planta</p>
		</div>
		<div class="icon">
		  <i class="ion ion-pie-graph"></i>
		</div>
		<a href="/#/todayall" class="small-box-footer">Ver Detalle <i class="fa fa-arrow-circle-right"></i></a>
	  </div>
	</div><!-- ./col -->
	<div class="col-lg-2 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-green">
		<div class="inner">
		  <h3>{{ num_employees.count }}</h3>
		  <p>Empleados</p>
		</div>
		<div class="icon">
		  <i class="ion ion-person-stalker"></i>
		</div>
		<a href="/#/employees" class="small-box-footer">Ver Detalle <i class="fa fa-arrow-circle-right"></i></a>
	  </div>
	</div><!-- ./col -->
	<div class="col-lg-2 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-yellow">
		<div class="inner">
		  <h3>{{ num_contractors.count }}</h3>
		  <p>Contratistas</p>
		</div>
		<div class="icon">
		  <i class="ion ion-person-stalker"></i>
		</div>
		<a href="#" class="small-box-footer">Ver Detalle <i class="fa fa-arrow-circle-right"></i></a>
	  </div>
	</div><!-- ./col -->
	<div class="col-lg-2 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-red">
		<div class="inner">
		  <h3>{{ num_visits.count }}</h3>
		  <p>Visitas</p>
		</div>
		<div class="icon">
		  <i class="ion ion-person-add"></i>
		</div>
		<a href="/#/visits" class="small-box-footer">Ver Detalle <i class="fa fa-arrow-circle-right"></i></a>
	  </div>
	</div><!-- ./col -->
	<div class="col-lg-2 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-red">
		<div class="inner">
		  <h3>{{ num_contractors.count }}</h3>
		  <p>Proveedores</p>
		</div>
		<div class="icon">
		  <i class="ion ion-person-add"></i>
		</div>
		<a href="#" class="small-box-footer">Ver Detalle <i class="fa fa-arrow-circle-right"></i></a>
	  </div>
	</div><!-- ./col -->
  </div><!-- /.row -->
  <!-- Main row -->
  <div class="row">

    <div class="col-md-12">
      <!-- Custom Tabs -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_1" data-toggle="tab">AMSA</a></li>
          <li><a href="#tab_2" data-toggle="tab">FARMING</a></li>
          <li><a href="#tab_3" data-toggle="tab">ADMINISTRACIÓN</a></li>
          <li class="pull-right"><a href="/#/dashboard" class="text-muted"><i class="fa fa-refresh"></i></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
			<table class="table">
				<thead>
				<tr>
					<th>Administracion</th>
					<th>Planta Ahumado</th>
					<th>Planta Fresco</th>
				</tr>
				</thead>
				<tbody class="text-muted">
					<tr>
						<td><span class="label label-primary">0</span> Abastecimiento</td>
						<td><span class="label label-primary">0</span> Aseg. Calidad</td>
						<td><span class="label label-primary">0</span> Aseg. Calidad</td>
					</tr>
					<tr>
						<td><span class="label label-primary">0</span> Administracion</td>
						<td><span class="label label-primary">0</span> Mantención</td>
						<td><span class="label label-primary">0</span> Bodega</td>
					</tr>
					<tr>
						<td><span class="label label-primary">0</span> Comercial Ahumado</td>
						<td><span class="label label-primary">0</span> Opt. y Control</td>
						<td><span class="label label-primary">0</span> Frigorífico</td>
					</tr>
					<tr>
						<td><span class="label label-primary">0</span> Comercial F&C</td>
						<td><span class="label label-primary">0</span> Producción</td>
						<td><span class="label label-primary">0</span> Gestión</td>
					</tr>
					<tr>
						<td><span class="label label-primary">0</span> Logística</td>
						<td></td>
						<td><span class="label label-primary">0</span> Laboratorio</td>
					</tr>
					<tr>
						<td><span class="label label-primary">0</span> Personal</td>
						<td></td>
						<td><span class="label label-primary">0</span> Mantención</td>
					</tr>
					<tr>
						<td><span class="label label-primary">0</span> Seguridad</td>
						<td></td>
						<td><span class="label label-primary">0</span> Opt. y Control</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><span class="label label-primary">0</span> Patio</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><span class="label label-primary">0</span> Producción</td>
					</tr>
				</tbody>
			</table>
          </div><!-- /.tab-pane -->
          <div class="tab-pane" id="tab_2">
              <table class="table">
  				<thead>
  				<tr>
  					<th>Administracion</th>
  					<th>Planta Ahumado</th>
  					<th>Planta Fresco</th>
  				</tr>
  				</thead>
  				<tbody class="text-muted">
  					<tr>
  						<td><span class="label label-primary">0</span> Abastecimiento</td>
  						<td><span class="label label-primary">0</span> Aseg. Calidad</td>
  						<td><span class="label label-primary">0</span> Aseg. Calidad</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Administracion</td>
  						<td><span class="label label-primary">0</span> Mantención</td>
  						<td><span class="label label-primary">0</span> Bodega</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Comercial Ahumado</td>
  						<td><span class="label label-primary">0</span> Opt. y Control</td>
  						<td><span class="label label-primary">0</span> Frigorífico</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Comercial F&C</td>
  						<td><span class="label label-primary">0</span> Producción</td>
  						<td><span class="label label-primary">0</span> Gestión</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Logística</td>
  						<td></td>
  						<td><span class="label label-primary">0</span> Laboratorio</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Personal</td>
  						<td></td>
  						<td><span class="label label-primary">0</span> Mantención</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Seguridad</td>
  						<td></td>
  						<td><span class="label label-primary">0</span> Opt. y Control</td>
  					</tr>
  					<tr>
  						<td></td>
  						<td></td>
  						<td><span class="label label-primary">0</span> Patio</td>
  					</tr>
  					<tr>
  						<td></td>
  						<td></td>
  						<td><span class="label label-primary">0</span> Producción</td>
  					</tr>
  				</tbody>
  			</table>
          </div><!-- /.tab-pane -->
          <div class="tab-pane" id="tab_3">
              <table class="table">
  				<thead>
  				<tr>
  					<th>Administracion</th>
  					<th>Planta Ahumado</th>
  					<th>Planta Fresco</th>
  				</tr>
  				</thead>
  				<tbody class="text-muted">
  					<tr>
  						<td><span class="label label-primary">0</span> Abastecimiento</td>
  						<td><span class="label label-primary">0</span> Aseg. Calidad</td>
  						<td><span class="label label-primary">0</span> Aseg. Calidad</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Administracion</td>
  						<td><span class="label label-primary">0</span> Mantención</td>
  						<td><span class="label label-primary">0</span> Bodega</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Comercial Ahumado</td>
  						<td><span class="label label-primary">0</span> Opt. y Control</td>
  						<td><span class="label label-primary">0</span> Frigorífico</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Comercial F&C</td>
  						<td><span class="label label-primary">0</span> Producción</td>
  						<td><span class="label label-primary">0</span> Gestión</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Logística</td>
  						<td></td>
  						<td><span class="label label-primary">0</span> Laboratorio</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Personal</td>
  						<td></td>
  						<td><span class="label label-primary">0</span> Mantención</td>
  					</tr>
  					<tr>
  						<td><span class="label label-primary">0</span> Seguridad</td>
  						<td></td>
  						<td><span class="label label-primary">0</span> Opt. y Control</td>
  					</tr>
  					<tr>
  						<td></td>
  						<td></td>
  						<td><span class="label label-primary">0</span> Patio</td>
  					</tr>
  					<tr>
  						<td></td>
  						<td></td>
  						<td><span class="label label-primary">0</span> Producción</td>
  					</tr>
  				</tbody>
  			</table>
          </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
      </div><!-- nav-tabs-custom -->
    </div><!-- /.col -->

  </div><!-- /.row (main row) -->

</section><!-- /.content -->
