<h1>
	Records
</h1>
<hr>
<div ng-controller="CDController">
	 {{currentDate | date:'dd MMM yyyy'}}
</div>
<p class="text-right">
   <button class="btn btn-link" ng-click="exportToExcel('#records')">
   <span class="glyphicon glyphicon-share"></span> Export to Excel
   </button>
</p>

<div ng-controller="RecordController" class="table-responsive">
	<ul class="inline">
		<li><a href ng-click="eventDateFilter('all')">All</a></li>
		<li><a href ng-click="eventDateFilter('today')">Today</a></li>
		<li><a href ng-click="eventDateFilter('pastWeek')">Past Week</a></li>
        <li><a href ng-click="eventDateFilter('pastMonth')">Past Month</a></li>
	</ul>
	<table class="table table-striped" id="records">
		<thead>
		<tr>
			<th>#</th>
			<th>Run</th>
			<th>FullName</th>
			<th>
				<a href="#" ng-click="sortType = 'input_datetime'; sortIt = !sortIt">
				    <span ng-show="sortType == 'input_datetime' && !sortIt" class="fa fa-caret-down"></span>
				    <span ng-show="sortType == 'input_datetime' && sortIt" class="fa fa-caret-up"></span>
				Input
				</a>
			</th>
			<th>
				<a href="#" ng-click="sortType = 'output_datetime'; sortIt = !sortIt">
				    <span ng-show="sortType == 'output_datetime' && !sortIt" class="fa fa-caret-down"></span>
				    <span ng-show="sortType == 'output_datetime' && sortIt" class="fa fa-caret-up"></span>
				Output
				</a>
			</th>
			<th>
				<a href="#" ng-click="sortType = 'is_permitted'; sortIt = !sortIt">
				    <span ng-show="sortType == 'is_permitted' && !sortIt" class="fa fa-caret-down"></span>
				    <span ng-show="sortType == 'is_permitted' && sortIt" class="fa fa-caret-up"></span>
				State
				</a>
			</th>
			<th>Comment</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
			<tr ng:repeat="record in records | orderBy:sortType:sortIt | filter:dateRange">
				<td>{{$index + 1}}</td>
				<td><a href="people/{{record.people_run}}">{{record.people_run}}</a></td>
				<td>{{record.fullname}}</td>
				<td>{{record.input_datetime | date:'dd MMM yyyy HH:mm:ss'}}</td>
				<td>{{record.output_datetime | date:'dd MMM yyyy HH:mm:ss'}}</td>
				<td>
					<span ng-if="record.is_permitted" class="label label-success label-mini">Permitted</span>
					<span ng-if="record.is_permitted == false" class="label label-danger label-mini">Dennied</span>
				</td>
				<td>{{record.comment}}</td>
				<td>
					<input type="text" ng-model="record.comment" ng-change="update(record)" placeholder="Add Comment" class="form-control">
					<!-- <button class="btn btn-danger btn-xs" ng-click="delete($index)">  <span class="glyphicon glyphicon-trash" ></span></button> -->
				</td>
			</tr>
		</tbody>
	</table>
</div>
