<div class="container" ng-controller="RecordController">
	<div class="row">

		<div class="col-lg-2 col-md-2">
			<a href="/#/inputs">
				<div class="card-box widget-user">
					<div class="text-center">
						<h2 class="text-success" data-plugin="counterup">{{inputs.count}}</h2>
						<h5>En la Planta</h5>
					</div>
				</div>
			</a>
		</div>

		<div class="col-lg-2 col-md-2">
			<div class="card-box widget-user">
				<a href="/#/employees">
					<div class="text-center">
						<h2 class="text-info" data-plugin="counterup">{{employees.count}}</h2>
						<h5>Empleados</h5>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-2 col-md-2">
			<div class="card-box widget-user">
				<a href="/#/visits">
					<div class="text-center">
						<h2 class="text-warning" data-plugin="counterup">{{visits.count}}</h2>
						<h5>Visitas</h5>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-2 col-md-2">
			<div class="card-box widget-user">
				<a href="/#/contractors">
					<div class="text-center">
						<h2 class="text-danger" data-plugin="counterup">{{contractors.count}}</h2>
						<h5>Contratistas</h5>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- end row -->

	<div class="row">
		<div class="col-lg-10">
			<div class="panel panel-color panel-tabs panel-info">
				<div class="panel-heading">
					<ul class="nav nav-pills pull-right">
						<li class="active">
							<a href="ui-cards.html#navpills-1" data-toggle="tab" aria-expanded="true">AMSA <span class="badge badge-primary">0</span></a>
						</li>
						<li class="">
							<a href="ui-cards.html#navpills-2" data-toggle="tab" aria-expanded="false">FARMING <span class="badge badge-primary">0</span></a>
						</li>
						<li class="">
							<a href="ui-cards.html#navpills-3" data-toggle="tab" aria-expanded="false">ADMINISTRACION <span class="badge badge-primary">0</span></a>
						</li>
					</ul>
					<h3 class="panel-title">Cuenta de empleados</h3>
				</div>
				<div class="panel-body">
					<div class="tab-content">
						<div id="navpills-1" class="tab-pane fade in active">
							<div class="row">
								<div class="col-md-12">
									<div class="card-box">
										<h4 class="header-title m-t-0 m-b-30">AMSA</h4>

										<div class="table-responsive">
											<table class="table">
												<thead>
												<tr>
													<th>Administracion</th>
													<th>Planta Ahumado</th>
													<th>Planta Fresco</th>
												</tr>
												</thead>
												<tbody class="text-muted">
													<tr>
														<td><span class="label label-inverse">0</span> Abastecimiento</td>
														<td><span class="label label-inverse">0</span> Aseg. Calidad</td>
														<td><span class="label label-inverse">0</span> Aseg. Calidad</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Administracion</td>
														<td><span class="label label-inverse">0</span> Mantención</td>
														<td><span class="label label-inverse">0</span> Bodega</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Comercial Ahumado</td>
														<td><span class="label label-inverse">0</span> Opt. y Control</td>
														<td><span class="label label-inverse">0</span> Frigorífico</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Comercial F&C</td>
														<td><span class="label label-inverse">0</span> Producción</td>
														<td><span class="label label-inverse">0</span> Gestión</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Logística</td>
														<td></td>
														<td><span class="label label-inverse">0</span> Laboratorio</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Personal</td>
														<td></td>
														<td><span class="label label-inverse">0</span> Mantención</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Seguridad</td>
														<td></td>
														<td><span class="label label-inverse">0</span> Opt. y Control</td>
													</tr>
													<tr>
														<td></td>
														<td></td>
														<td><span class="label label-inverse">0</span> Patio</td>
													</tr>
													<tr>
														<td></td>
														<td></td>
														<td><span class="label label-inverse">0</span> Producción</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="navpills-2" class="tab-pane fade">
							<div class="row">
								<div class="col-md-12">
									<div class="card-box">
										<h4 class="header-title m-t-0 m-b-30">FARMING</h4>

										<div class="table-responsive">
											<table class="table">
												<thead>
												<tr>
													<th>Administracion</th>
													<th>Planta Ahumado</th>
													<th>Planta Fresco</th>
												</tr>
												</thead>
												<tbody>
													<tr>
														<td><span class="label label-inverse">0</span> Abastecimiento</td>
														<td><span class="label label-inverse">0</span> Aseg. Calidad</td>
														<td><span class="label label-inverse">0</span> Aseg. Calidad</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Administracion</td>
														<td><span class="label label-inverse">0</span> Mantención</td>
														<td><span class="label label-inverse">0</span> Bodega</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Comercial Ahumado</td>
														<td><span class="label label-inverse">0</span> Opt. y Control</td>
														<td><span class="label label-inverse">0</span> Frigorífico</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Comercial F&C</td>
														<td><span class="label label-inverse">0</span> Producción</td>
														<td><span class="label label-inverse">0</span> Gestión</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Logística</td>
														<td></td>
														<td><span class="label label-inverse">0</span> Laboratorio</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Personal</td>
														<td></td>
														<td><span class="label label-inverse">0</span> Mantención</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Seguridad</td>
														<td></td>
														<td><span class="label label-inverse">0</span> Opt. y Control</td>
													</tr>
													<tr>
														<td></td>
														<td></td>
														<td><span class="label label-inverse">0</span> Patio</td>
													</tr>
													<tr>
														<td></td>
														<td></td>
														<td><span class="label label-inverse">0</span> Producción</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="navpills-3" class="tab-pane fade">
							<div class="row">
								<div class="col-md-12">
									<div class="card-box">
										<h4 class="header-title m-t-0 m-b-30">ADMINISTRACIÓN</h4>

										<div class="table-responsive">
											<table class="table">
												<thead>
												<tr>
													<th>Administracion</th>
													<th>Planta Ahumado</th>
													<th>Planta Fresco</th>
												</tr>
												</thead>
												<tbody>
													<tr>
														<td><span class="label label-inverse">0</span> Abastecimiento</td>
														<td><span class="label label-inverse">0</span> Aseg. Calidad</td>
														<td><span class="label label-inverse">0</span> Aseg. Calidad</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Administracion</td>
														<td><span class="label label-inverse">0</span> Mantención</td>
														<td><span class="label label-inverse">0</span> Bodega</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Comercial Ahumado</td>
														<td><span class="label label-inverse">0</span> Opt. y Control</td>
														<td><span class="label label-inverse">0</span> Frigorífico</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Comercial F&C</td>
														<td><span class="label label-inverse">0</span> Producción</td>
														<td><span class="label label-inverse">0</span> Gestión</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Logística</td>
														<td></td>
														<td><span class="label label-inverse">0</span> Laboratorio</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Personal</td>
														<td></td>
														<td><span class="label label-inverse">0</span> Mantención</td>
													</tr>
													<tr>
														<td><span class="label label-inverse">0</span> Seguridad</td>
														<td></td>
														<td><span class="label label-inverse">0</span> Opt. y Control</td>
													</tr>
													<tr>
														<td></td>
														<td></td>
														<td><span class="label label-inverse">0</span> Patio</td>
													</tr>
													<tr>
														<td></td>
														<td></td>
														<td><span class="label label-inverse">0</span> Producción</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end col -->
	</div>
	<!-- end row -->
</div> <!-- container -->
