
                    <div class="container">
                        <div class="col-lg-2 col-md-2">
                            <a href="inputs.html">
                                <div class="card-box widget-user">
                                    <div class="text-center">
                                        <h2 class="text-info" data-plugin="counterup">732</h2>
                                        <h5>En la Planta</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <div class="dropdown pull-right">
                                        <a href="tables-datatable.html#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="tables-datatable.html#">Exportart</a></li>
                                            <li class="divider"></li>
                                            <li><a href="tables-datatable.html#">Actualizar</a></li>
                                        </ul>
                                    </div>

                        			<h4 class="header-title m-t-0 m-b-30">Registro de visitas</h4>

                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Rut</th>
                                                <th>Nombre</th>
                                                <th>Empresa</th>
                                                <th>Motivo</th>
                                                <th>Destino</th>
                                                <th>Entrada</th>
                                                <th>Salida</th>
                                                <th>Autorizado por</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="card.html">
                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle img-responsive" width="40"></div>
                                                    </a>

                                                </td>
                                                <td>1111111-1</td>
                                                <td>Juanito Perez Perez</td>
                                                <td>Empresa 1</td>
                                                <td>Reunión</td>
                                                <td>Edificio VAP</td>
                                                <td>20/04/2016 10:00</td>
                                                <td>20/04/2016 11:00</td>
                                                <td>Cristian Berzings</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->
                    </div> <!-- container -->
