<div class="container" ng-controller="RecordController">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <div class="dropdown pull-right">
                    <a href="tables-datatable.html#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="tables-datatable.html#">Action</a></li>
                        <li><a href="tables-datatable.html#">Another action</a></li>
                        <li><a href="tables-datatable.html#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="tables-datatable.html#">Separated link</a></li>
                    </ul>
                </div>

                <h4 class="header-title m-t-0 m-b-30">Visitas {{inputs.count}}</h4>

                <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Empresa</th>
                            <th>Motivo</th>
                            <th>Destino</th>
                            <th>Entrada</th>
                            <th>Salida</th>
                            <th>Patente Entrada</th>
                            <th>Patente Salida</th>
                            <th>Autorizado por</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng:repeat="record in records">
                            <td style="font-weight:bold">{{$index + 1}}</td>
                            <td>{{record.people_run}}</td>
                            <td>{{record.fullname}}</td>
                            <td><input type="text" ng-model="record.company" ng-change="update(record)" placeholder="Empresa" class="form-control"></td>
                            <td><input type="text" ng-model="record.reason" ng-change="update(record)" placeholder="Motivo" class="form-control"></td>
                            <td><input type="text" ng-model="record.destination" ng-change="update(record)" placeholder="Destino" class="form-control"></td>
                            <td>{{record.input_datetime | date:'dd MMM yyyy HH:mm:ss'}}</td>
                            <td>{{record.output_datetime | date:'dd MMM yyyy HH:mm:ss'}}</td>
                            <td><input type="text" ng-model="record.input_patent" ng-change="update(record)" placeholder="Patente de entrada" class="form-control"></td>
                            <td><input type="text" ng-model="record.output_patent" ng-change="update(record)" placeholder="Patente de salida" class="form-control"></td>
                            <td><input type="text" ng-model="record.authorized_by" ng-change="update(record)" placeholder="Autorizado por" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- end col -->
    </div>
    <!-- end row -->
</div> <!-- container -->

<!-- Datatables-->
<script src="../assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="../assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="../assets/plugins/datatables/jszip.min.js"></script>
<script src="../assets/plugins/datatables/pdfmake.min.js"></script>
<script src="../assets/plugins/datatables/vfs_fonts.js"></script>
<script src="../assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="../assets/plugins/datatables/buttons.print.min.js"></script>
<script src="../assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="../assets/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="../assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="../assets/plugins/datatables/dataTables.scroller.min.js"></script>

<!-- Datatable init js -->
<script src="../assets/pages/datatables.init.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable( { keys: true } );
        $('#datatable-responsive').DataTable();
        $('#datatable-scroller').DataTable( { ajax: "../assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
        var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
    } );
    TableManageButtons.init();

</script>
