<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	Mantenedor de Visitas
  </h1>
  <ol class="breadcrumb">
	<li><a href="/#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Visitas</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-3">
            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Agregar Visita</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <form name="parkingForm">
                      <div class="form-group">
                        <input type="text" class="form-control focus" name="rut"
                            placeholder="Rut" autocomplete="off"
                            ng-model="newPeople.run">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control focus" name="fullname"
                            placeholder="Nombre Completo" autocomplete="off"
                            ng-model="newPeople.fullname">
                      </div>
                       <div class="form-group">
                        <input type="text" class="form-control focus" name="company"
                            placeholder="Nombre de Compañia" autocomplete="off" 
                            ng-model="newPeople.company">
                      </div>
                      <button class="btn btn-info" ng-click="addVisit()">Agregar</button>
                      <button class="btn btn-info" ng-click="clearVisit()">Limpiar</button>
                    </form>
                    <hr>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-xs-8">
            <div class="box" >
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                          <tr>
                            <th>#</th>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Compañía</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="people in peoples" ng-if= "people.profile == 'V'">
                          <td>{{$index + 1}}</td>
                          <td>{{people.run}}</td>
                          <td><input
                               type="text"
                               ng-model="people.fullname"
                               ng-change="update(people)" /></td>
                          <td><input
                               type="text"
                               ng-model="people.company"
                               ng-change="update(people)" /></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
</section><!-- /.content -->
